---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Pricing from "@components/pricing.astro";

const pricing = [
  {
    name: "Small Boost",
    price: "29 TND",
    popular: false,
    features: [
      "3000 to 12000 Interactions during 5 days",
      "Facebook Sponsorship",
      "Messenger Sponsorship",
      "1000 Instagram Followers (BONUS)"
    ],
    button: {
      text: "Buy Now",
      link: "/",
    },
  },
  {
    name: "Medium Boost",
    price: "69 TND",
    popular: true,
    features: [
      "5000 to 15000 Interactions during 10 days",
      "Facebook Sponsorship",
      "Messenger Sponsorship",
      "5000 Instagram Followers (BONUS)",
    ],
    button: {
      text: "Buy Now",
      link: "#",
    },
  },
  {
    name: "Influencer Package",
    price: "99 TND",
    popular: true,
    features: [
      "16000 to 40000 Interactions during 10 days",
      "Facebook Sponsorship",
      "Messenger Sponsorship",
      "Instagram Stories Sponsorship",
      "7000 Instagram Followers with refill",
      "1000 Tiktok Followers (BONUS) ",
    ],
    button: {
      text: "Buy Now",
      link: "#",
    },
  },
  {
    name: "Influencer",
    price: "Custom",
    popular: false,
    features: [
      "17000 to 50000 Interactions during 30 days",
      "Facebook Sponsorship",
      "Messenger Sponsorship",
      "Instagram Stories Sponsorship",
      "Whatsapp Business Sponsorship",
      "10000 Instagram Followers with refill",
      "5000 Tiktok Followers (BONUS)"
    ],
    button: {
      text: "Buy Now",
      link: "/",
    },
  },
];
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Pricing</Fragment>
      <Fragment slot="desc"
        >Simple & Predictable pricing. No Surprises.</Fragment
      >
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <Pricing plan={item} />)}
    </div>
  </Container>
</Layout>
